<div class="row">
     <div class="col">
          <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="BuscarArtista">
     </div>
</div>

<app-loading *ngIf="loading"></app-loading>
<div class="card-columns mt-4 animated fadeIn">
  <div *ngFor="let artista of artistas" class="card puntero" (click)="buscarArtista(artista.id)">
    <img [src]="artista.images | noimage " class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{artista.name}}</h5>
      <p class="card-text">
    <span *ngFor="let genero of artista.genres" class="badge badge-pill badge-dark">{{genero}}</span>
   </p>
   <p class="card-text text-muted">
     Seguidores:  {{artista.followers.total}}
   </p>
    </div>
  </div>
</div>

<div class="row text-center mt-5" *ngIf="(artistas.length == 0 && busqueda && termino.value.length > 0)">
  <div class="col">
    <h4>No se pudo encontrar</h4>
    <h3>"{{termino.value}}"</h3>
    <p class="text-muted">Vuelva a buscar o prueba con una palabra clave diferente</p>
  </div>
</div>
